{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
<div class="row">
  <div class="large-12 columns">
    <div class="simple-rating">
      {% for star in ['5','4.5','4','3.5','3','2.5','2','1.5','1','.5'] %}
        <input type="radio" id="{{ attributes.id }}-{{ star }}" name="{{ attributes.name }}" value="{{ star }}" {% if attributes.value == star %} checked {% endif %} />
        <label for="{{ attributes.id }}-{{ star }}"></label>
      {% endfor %}
    </div>
  </div>
</div>
